<?php

/**
* File for the Configuration
*
* In this file all configuration is stored
*
*/

define('KAOSBOT_BASEDIR','/home/bot/src');

define('DATABASE_FILE', KAOSBOT_BASEDIR . '/db/kaosbot.db');

define('DSN', 'sqlite:///' . DATABASE_FILE);

$database = MDB2::singleton(DSN);

/** 
 * @var string The hostname to connect to.
 */
$hostname = "";

/**
 * @var integer The connection port.
 */
$port = 5222;

/**
 * @var string The username under which the bot connects.
 */
$user = "";

/**
 * @var string The password used to connect.
 */
$password = '';

/**
 * @var string The resource of the bot.
 */

$resource = uniqid(true);
